/* CSS Variables */

:root {
    --primary: #ddd;
    --dark: #333;
    --light: #fff;
    --shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
}

::-webkit-scrollbar {
    width: 0;
    /* Remove scrollbar space */
    background: transparent;
    /* Optional: just make scrollbar invisible */
}

/* Optional: show position indicator in red */

::-webkit-scrollbar-thumb {
    background: #FF0000;
}

html {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--dark);
    overflow: scroll;
    overflow-x: hidden;
}

body {
    background: var(--dark));
    margin: 0;
    line-height: 1.4;
}

img {
    max-width: 100%;
}

.btn {
    background: var(--dark);
    color: var(--light);
    padding: 0.6rem 1.3rem;
    text-decoration: none;
    border: 0;
    margin-top: 20px
}

#learn-btn {
    margin-top: 100px;
}

.wrapper {
    display: grid;
    grid-gap: 00px;
}

/* Navigation */

.main-nav {
background-color: var(--dark);
}

.main-nav ul {
    display: grid;
    grid-gap: 20px;
    padding: 0;
    list-style: none;
    grid-template-columns: repeat(4, 1fr);
}

.main-nav a {
    display: block;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-size: 1.1rem;
    color: var(--light);
}

.main-nav a:hover {
    background-color: var(--dark);
}

/* Top Container */

.top-container {
    display: grid;
    box-shadow: var(--shadow);
    grid-template-areas: 'showcase showcase top-box-a' 'showcase showcase top-box-b';
    justify-content: center;
    min-height: 400px;
    background: url(https://image.ibb.co/kYJK8x/showcase.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* Showcase */

.showcase {
    grid-area: showcase;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}

.showcase h1 {
    font-size: 4rem;
    margin-bottom: 0;
    color: var(--light);
}

.showcase p {
    font-size: 1.3rem;
    margin-top: 0;
    color: var(--light);
}

/* Top Box */

.top-box {
    background: var(--dark);
    display: grid;
    align-items: center;
    justify-items: center;
    box-shadow: var(--shadow);
    padding: 1.5rem;
}

.top-box .price {
    font-size: 2.5rem;
}

.top-box-a {
    grid-area: top-box-a;
}

.top-box-b {
    grid-area: top-box-b;
}

/* Boxes */

.boxes {
    display: grid;
    grid-gap: 00px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.box {
    color: #ddd;
    background: var(--dark);
    text-align: center;
    padding: 1.5rem 2rem;
    box-shadow: var(--shadow);
}

#icon  {
    color: #ddd;
}
/* Info */

.info {
    background: var(--dark);
    box-shadow: var(--shadow);
    display: grid;
    grid-gap: 0px;
    grid-template-columns: repeat(2, 1fr);
    padding: 3rem;
}

/* Portfolio */

.portfolio {
    display: grid;
    grid-gap: 0px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    background-color: var(--dark);
}

.portfolio img {
    width: 100%;
    box-shadow: var(--shadow);
}

/* Footer */

footer {
    margin-top: 0;
    background: var(--dark);
    color: var(--light);
    text-align: center;
}

/* Media Queries */

@media (max-width: 700px) {
    .top-container {
        grid-template-areas: 'showcase showcase' 'top-box-a top-box-b';
    }
    .showcase {
        padding: 1rem;
        text-align: center;
        align-items: center;
        justify-content: center;
    }
    .showcase h1 {
        font-size: 1.5rem;
    }
    .showcase p {
        font-size: 0.9rem;
    }
    .main-nav ul {
        grid-template-columns: 1fr;
    }
    .info {
        grid-template-columns: 1fr;
    }
    .info .btn {
        display: block;
        text-align: center;
        margin: auto;
        margin-top: 1rem;
    }
}

@media (max-width: 500px) {
    .top-container {
        grid-template-areas: 'showcase' 'top-box-a' 'top-box-b';
    }
}