body{
  margin: 0;
}

.main{
  display: flex;
  flex-direction: row;
  
}

.blue{
  width: 200px;
  height: 200px;
  position: relative;
  background-color: blue;
}

.red{
  right: 0;
  width: 100px;
  height: 100px;
  position: relative;
  background-color: red;
}
